<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/statics/css/element.css">

<title>高清组图管理</title>
</head>
<body>
    <#include "/header.html">
    <div class="cvpage_title_common">会场报道管理</div>
    <div id="meeting_live" class="cv_page_content">
        <div class="cv_content_square">
            <!------------------列表开始------------------>
            <div v-show="showListPage">
                <div class="cv_content_square">
                    <el-form :model="searchForm" status-icon class="demo-ruleForm" style="width: 100%"  @submit.native.prevent>
                        <el-row class="el-row-h60">
                            <el-col :span="8">
                                <el-form-item label="所属报道专题编号" label-width="40%" style="margin:0;">
                                    <el-input
                                    clearable
                                    v-model="searchForm.reportTopicId"
                                    placeholder="输入所属报道专题编号"
                                    type="text"
                                    auto-complete="off"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="名称" label-width="25%" style="margin:0;">
                                    <el-input
                                    clearable
                                    v-model="searchForm.name"
                                    placeholder="输入名称"
                                    type="text"
                                    auto-complete="off"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="3" :offset="1" class="el-row-h40">
                                <el-button type="primary" icon="el-icon-search" style="width:100%" @click="startSearch(0)">搜索</el-button>
                            </el-col>
                        </el-row>
                    </el-form>
                </div>
                <!--功能按钮区-->
                <el-row class="el-row-h50">
                    <el-col :span="4">
                        <el-button type="primary" plain icon="el-icon-plus" style="width:100%" @click="addOrEditPic(0)">新建会场报道</el-button>
                    </el-col>
                </el-row>
                <!--表格查询结果区-->
                <div class="cv_content_square">
                    <el-table :data="tableData" style="width: 100%; margin: 10px auto;" stripe>
                        <el-table-column prop="name"  label="名称"></el-table-column>
                        <el-table-column prop="reportTopicId" width="160" label="所属报道专题编号">
                            <template slot-scope="scope">
                                <div v-if="scope.row.reportTopicId == '-1'"></div>
                                <div v-else v-text="scope.row.reportTopicId"></div>
                            </template>
                        </el-table-column>
                        
                        <el-table-column prop="createAt" width="200" label="更新时间"></el-table-column>
                        <el-table-column prop="userName" label="更新人" width="180"></el-table-column>
                        <el-table-column label="操作" width="180" fixed="right">
                            <template slot-scope="scope">
                                <el-button type="text" size="small" @click="addOrEditPic(1,scope.row)">属性</el-button>
                                <el-button type="text" size="small" @click="EditDetailList(scope.row)">编辑</el-button>
                                <el-button v-if="scope.row.reportTopicId == '-1' || scope.row.reportTopicId == ''" type="text" size="small" @click="deleteThisDiagram(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <!--分页器-->
                <div class="cv_page_zone">
                    <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="pagination1.currPage"
                        :page-size="pagination1.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination1.totalCount">
                    </el-pagination>
                </div>
            </div>
            <!------------------列表结束------------------>

            
            <!------------------新建高清组图开始------------------>
            <div v-show="showCreatListPage">
                <div class="cv_content_square">
                    <el-form :model="meetingLiveListForm" :rules="meetingLiveListFormRules" ref="meetingLiveListForm" label-position="left" status-icon class="demo-ruleForm" label-width="13%" label-position="right">
                        <el-row class="el-row-h70">
                            <el-col :span="18">
                                <el-form-item label-width="20%" prop="reportTopicId" label="所属报道专题编号" style="margin:0;">
                                    <el-input
                                    clearable
                                    type="text"
                                    v-model="meetingLiveListForm.reportTopicId"
                                    auto-complete="off"
                                    :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row class="el-row-h70">
                            <el-col :span="18">
                                <el-form-item label="名称" label-width="20%" prop="name" style="margin:0;">
                                    <el-input
                                        clearable
                                        type="text"
                                        maxlength="36"
                                        placeholder="请输入名称"
                                        v-model="meetingLiveListForm.name"
                                        auto-complete="off"
                                        >
                                        <template slot="append">限制36个字</template>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    
                    <el-row style="margin-top: 30px">
                        <el-col class="el-row-h40" :span="2">
                            <el-button type="primary" style="width: 100%" @click="testSubmit('meetingLiveListForm')">保存</el-button>
                        </el-col>
                        <el-col class="el-row-h40" :span="2" :offset="1">
                            <el-button type="primary" style="width: 100%" @click="closeCreatOrEdit('meetingLiveListForm')">取消</el-button>
                        </el-col>
                    </el-row>
                </div>
            </div>
            <!------------------新建高清组图结束------------------>
            
            
        </div>


   
        

    </div>

</body>
<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.base64.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/element.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/meeting/meeting_live.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/clockToast.js"></script>
</html>
