<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/statics/css/element.css">

<title>投票管理</title>
</head>
<body>
    <#include "/header.html">
    <div class="cvpage_title_common">投票列表</div>
    <div id="vote_list" class="cv_page_content">
        <div class="cv_content_square">
            <!------------------列表开始------------------>
            <div v-show="showVoteList">
                <!--列表搜索区-->
                <div class="cv_content_square">
                    <el-form :model="searchForm" status-icon class="demo-ruleForm" style="width: 100%"  @submit.native.prevent>
                        <el-row class="el-row-h60">
                            <el-col :span="7">
                                <el-form-item label="所属会议编号" label-width="40%" style="margin:0;">
                                    <el-input
                                    clearable
                                    v-model="searchForm.voteMeetingId"
                                    type="text"
                                    auto-complete="off"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span=11 :offset="1">
                                <el-form-item label="创建日期" label-width="20%"  style="margin:0; width: 100%">
                                        <el-date-picker
                                        v-model="timeRange"
                                        type="daterange"
                                        range-separator="-"
                                        :picker-options="pickerOptions"
                                        value-format="yyyy-MM-dd"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期">
                                      </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="2" :offset="1" class="el-row-h40">
                                <el-button type="primary" style="width:100%" @click="startSearch(0)">搜索</el-button>
                            </el-col>
                        </el-row>
                    </el-form>
                </div>
                <!--功能按钮区-->
                <el-row class="el-row-h50">
                    <el-col :span="3">
                        <el-button type="primary" type="primary" plain icon="el-icon-plus" style="width:100%" @click="addOrEditVote(0)">新建投票</el-button>
                    </el-col>
                </el-row>
                <!--表格查询结果区-->
                <div class="cv_content_square">
                    <el-table :data="tableData" style="width: 100%; margin: 10px auto;" stripe>
                        <el-table-column prop="voteId" width="110" label="投票编号"></el-table-column>
                        <el-table-column prop="voteMeetingId" width="160" label="所属会议详情编号"></el-table-column>
                        <el-table-column prop="voteTitle" width="220" label="投票名称"></el-table-column>
                        <el-table-column prop="voteType" width="110" label="类型"></el-table-column>
                        <el-table-column prop="voteCrtTime" width="180" label="创建时间"></el-table-column>
                        <el-table-column prop="userName" width=90 label="创建人"></el-table-column>
                        <el-table-column label="操作"  fixed="right">
                            <template slot-scope="scope">
                                <el-button type="text" size="small" @click="addOrEditVote(1,scope.row)">编辑</el-button>
                                <el-button type="text" size="small"@click="addOrEditVote(2,scope.row)" >详情</el-button>
                                <el-button type="text" size="small" @click="deleteThisVote(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <!--分页器-->
                <div class="cv_page_zone">
                    <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="pagination1.currPage"
                        :page-size="pagination1.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination1.totalCount">
                    </el-pagination>
                </div>
            </div>
            <!------------------列表结束------------------>

            <!------------------新增投票开始------------------>
            <div v-show="showChildList">
                <div class="cv_content_square">
                    <el-form :model="voteForm" :rules="voteFormRules" ref="voteForm" label-position="left" status-icon class="demo-ruleForm" label-width="13%" label-position="right">
                        <!-- <el-row class="el-row-h70">
                            <el-col :span="18">
                                <el-form-item label="所属会议详情编号" label-width="20%" prop="voteMeetingId" style="margin:0;">
                                    <el-input
                                        clearable
                                        type="text"
                                        placeholder="请输入所属会议详情编号"
                                        v-model="voteForm.voteMeetingId"
                                        auto-complete="off"
                                        :disabled="creatOrEdit == 1"
                                        ></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row> -->
                        <el-row class="el-row-h70">
                            <el-col :span="18">
                                <el-form-item label="投票类型" label-width="12%" prop="voteType" style="margin:0;">
                                    <template>
                                        <div>
                                            <label><input @click="getRadioVal" type="radio" name="type" value="多项单选">多项单选</label>
                                            <label><input @click="getRadioVal" type="radio" name="type" value="观点PK">观点PK</label>
                                        </div>
                                    </template>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row class="el-row-h70">
                            <el-col :span="18">
                                <el-form-item label="投票名称" label-width="12%" prop="voteTitle" style="margin:0;">
                                    <el-input
                                        clearable
                                        type="text"
                                        placeholder="请输入投票名称"
                                        v-model="voteForm.voteTitle"
                                        auto-complete="off"
                                        ></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row class="el-row-h70">
                            <el-col :span="18">
                                <el-form-item label="投票摘要" label-width="12%" prop="voteDesc" style="margin:0;">
                                    <el-input
                                        clearable
                                        type="textarea"
                                        placeholder="请输入投票摘要"
                                        v-model="voteForm.voteDesc"
                                        auto-complete="off"
                                        ></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <div v-for="(item, index) in voteForm.voteOptionArray">
                            <el-row>
                                <el-col :span="18" class="el-row-h70">
                                    <el-form-item label="选项" label-width="12%" prop="voteOptionName" style="margin:0;">
                                        <el-input
                                            clearable
                                            type="text"
                                            placeholder="请输入选项内容"
                                            v-model="item.voteOptionName"
                                            auto-complete="off"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="1" :offset="1" style="margin-top: 0px">
                                    <el-button size="medium" type="primary" icon="el-icon-plus" @click="addOptions()" circle ></el-button>
                                </el-col>
                                <el-col :span="1"  :offset="1" style="margin-top: 0px">
                                    <el-button size="medium" type="plain" icon="el-icon-minus" @click="delOptions(index)" circle ></el-button>
                                </el-col>
                            </el-row> 

                        </div>
                        
                    </el-form>
                    <el-row style="margin-top: 30px">
                        <el-col class="el-row-h40" :span="3" :offset="8">
                            <el-button type="primary" style="width: 100%" @click="testSubmit('voteForm')">保存</el-button>
                        </el-col>
                        <el-col class="el-row-h40" :span="3" :offset="2">
                            <el-button type="primary" style="width: 100%" @click="closeCreatOrEdit('voteForm')">取消</el-button>
                        </el-col>
                    </el-row>

                    

                </div>
            </div>
            <!----------------- 新增投票结束 ------------------>

            <!----------------- 投票详情开始 ------------------>
            <div v-show="showDetailPage">
                <div class="cv_content_square">
                    <el-form :model="voteForm" status-icon class="demo-ruleForm" @submit.native.prevent>
                        <el-row class="el-row-h60">
                            <el-col>
                                <el-form-item label="投票名称" label-position="left" style="margin:0;">
                                
                            </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row class="el-row-h30"  style="width: 80%" >
                            <el-col>
                                <el-input
                                clearable
                                v-model="voteForm.voteTitle"
                                type="text"
                                auto-complete="off"
                                :disabled= "true"
                                ></el-input>
                            </el-col>
                        </el-row>
                        <el-row class="el-row-h60" style="margin-top: 30px">
                            <el-col>
                                <el-form-item label="投票详情" label-position="left" style="margin:0;"></el-form-item>
                            </el-col>
                        </el-row>
                        <el-row class="el-row-h60" style="width: 80%">
                            <el-col :span="9">
                                <el-form-item  label="参与人数" label-position="left" style="margin:0;">
                                        <el-input
                                        v-model="voteForm.totalVoteCount"
                                        type="text"
                                        auto-complete="off"
                                        :disabled= "true"
                                        ></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <div class="cv_content_square" v-for="(item, index) in voteForm.voteOptionArray">
                            <el-row style="margin-top: 30px">
                                <el-col class="el-row-h40" :span="8">
                                        <el-form-item label="选项：" label-width="25%" label-position="left" style="margin:0;">
                                            <el-input
                                            clearable
                                            v-model="item.voteOptionName"
                                            type="text"
                                            auto-complete="off"
                                            :disabled= "true"
                                            ></el-input>
                                        </el-form-item>
                                </el-col>
                                <el-col :span="6" :offset="1">
                                    <el-form-item label="人数：" label-width="25%" style="margin:0;">
                                        <el-input 
                                        v-model="item.voteOptionCount" 
                                        type="text"
                                        auto-complete="off"
                                         ></el-input>
                                    </el-form-item>
                                    </el-col>
                                <el-col :span="2" :offset="1">
                                    <el-form-item>
                                        <el-input
                                        v-model="item.voteCountRatio"
                                        type="text"
                                        auto-complete="off"
                                        :disabled= "true"
                                        ></el-input>
                                    </el-form-item>
                                </el-col>
                                <!-- <el-col :span="4" :offset="1">
                                    <el-button type="primary" style="width: 100%" @click="editVoteCount(item.voteOptionId, 1)">设置人数</el-button>
                                </el-col> -->
                            </el-row>
                        </div>
                        
                    </el-form>
                    <el-row style="margin-top: 30px">
                        <el-col class="el-row-h40" :span="3" :offset="8">
                            <el-button type="primary" style="width: 100%" @click="testSubmit('voteForm')">保存</el-button>
                        </el-col>
                        <el-col class="el-row-h40" :span="3" :offset="2">
                            <el-button type="primary" style="width: 100%" @click="closeCreatOrEdit('voteForm')">取消</el-button>
                        </el-col>
                    </el-row>
                </div>
            </div>



            
        </div>
    </div>
</body>
<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.base64.js"></script>

<script type="text/javascript" src="${request.contextPath}/statics/js/element.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/meeting/vote_list.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/clockToast.js"></script>

</html>