<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/statics/css/element.css">
<title>所有报告</title>
</head>
<body>
    <#include "/header.html">
    <div class="cvpage_title_common">所有报告</div>
    <div id="report_list" class="cv_page_content">
        <!--列表搜索区-->
        <div class="cv_content_square">
            <el-form :model="searchForm" status-icon class="demo-ruleForm" label-width="30%" label-position="right" @submit.native.prevent>
                <el-row class="el-row-h60">
                    <el-col :span="5">
                        <el-form-item label="标题" style="margin:0;">
                            <el-input
                            clearable
                            type="text"
                            v-model="searchForm.reportTitle"
                            auto-complete="off"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="5">
                        <el-form-item label="创建人" style="margin:0;">
                            <el-select style="width:100%;" v-model="searchForm.reportCrtUserId" clearable>
                                <el-option
                                    v-for="item in editorOptions"
                                    :key="item.userId"
                                    :label="item.username"
                                    :value="item.userId">
                                </el-option>
                            </el-select>
                        </el-form-item>     
                    </el-col>
                    <el-col :span="14">
                        <el-form-item label="发布时间" label-width="16%" style="margin:0;">
                            <el-date-picker
                                clearable
                                style="width:100%;"
                                v-model="timeRange"
                                type="datetimerange"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                :picker-options="pickerOptions"
                                value-format="yyyy-MM-dd HH:mm:ss"
                                :default-time="['00:00:00', '00:00:00']">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row-h60">
                    <el-col :span="5">
                        <el-form-item label="频道" style="margin:0;">
                            <el-select v-model="searchForm.reportChannel" placeholder="请选择频道" clearable @change="getChannelListLevel2">
                                <el-option
                                    v-for="item in channelOptions"
                                    :key="item.channelId"
                                    :label="item.channelTitle"
                                    :value="item.channelId">
                                </el-option>
                            </el-select>
                        </el-form-item>     
                    </el-col>
                    <el-col :span="5">
                        <el-form-item label="类型" style="margin:0;">
                            <el-select v-model="searchForm.reportType" placeholder="请选择类型" clearable>
                                <el-option
                                    v-for="item in reportTypeOptions"
                                    :key="item.channelId"
                                    :label="item.channelTitle"
                                    :value="item.channelId">
                                </el-option>
                            </el-select>
                        </el-form-item>     
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label-width="20%" label="发布状态" style="margin:0;">
                                <el-checkbox-group v-model="searchForm.reportStatus">
                                    <el-checkbox label="2">已发布</el-checkbox>
                                    <el-checkbox label="1">待发布</el-checkbox>
                                    <el-checkbox label="0">未发布</el-checkbox>
                                </el-checkbox-group>
                        </el-form-item>    
                    </el-col>
                    <el-col  class="el-row-h40" :span="3" style="margin:0;">
                        <el-button type="primary" style="width:100%" @click="startSearch(0)">搜索</el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>

        <!--功能按钮区-->
        <el-row class="el-row-h50">
            <el-col :span="3">
                <el-button type="primary" plain style="width:100%" icon="el-icon-plus" @click="creatReport">新建报告</el-button>
            </el-col>
        </el-row>

        <!--表格查询结果区-->
        <div class="cv_content_square">
            <el-table :data="tableData" style="width: 100%; margin:10px auto;" stripe>
                <el-table-column prop="reportHeadPic" label="封面" width="110">
                    <template v-if="scope.row.reportHeadPic" slot-scope="scope">
                        <img style="width:100px;height:70px;" :src="scope.row.reportHeadPic">
                    </template>
                </el-table-column>
                <el-table-column prop="reportTitle" label="标题" width="220">
                    <template v-if="scope.row.reportTitle" slot-scope="scope">
                        <div v-text="scope.row.reportTitle" @click="openUrlReportPage(scope.row)" class="reportTitleStyle"></div>
                    </template>
                </el-table-column>
                <!--chineseType  类型是前端遍历写入的自定义属性-->
                <el-table-column prop="chineseType" label="类型" width="90"></el-table-column>
                <el-table-column prop="reportStatus" label="发布状态">
                    <!--0未发布，1是待发布，2是已发布3是发布失败 4是待删除 5 删除-->
                    <template slot-scope="scope" v-if="scope.row.reportStatus !== ''">
                        <el-tag v-if="scope.row.reportStatus == 0">未发布</el-tag>
                        <el-tag v-if="scope.row.reportStatus == 1" type="warning">待发布</el-tag>
                        <el-tag v-if="scope.row.reportStatus == 2" type="success">已发布</el-tag>
                        <el-tag v-if="scope.row.reportStatus == 3" type="danger">发布失败 </el-tag>
                        <el-tag v-if="scope.row.reportStatus == 4" type="warning">待删除</el-tag>
                        <el-tag v-if="scope.row.reportStatus == 5" type="danger">已删除</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="reportReleaseTime" label="发布时间" width="95"></el-table-column>
                <el-table-column prop="reportAuthor" label="作者"></el-table-column>
                <el-table-column prop="modUserName" label="创建人/更新人"></el-table-column>
                <el-table-column prop="reportCount" label="阅读量"></el-table-column>
                <el-table-column label="操作" width="200" fixed="right">
                    <template slot-scope="scope" v-if="scope.row.reportStatus !== 1 && scope.row.reportStatus !== 4">
                        <el-button type="text" size="small" v-if="scope.row.reportStatus == 0 || scope.row.reportStatus == 2 ||scope.row.reportStatus == 3" @click="editThisReport(scope.row)">编辑</el-button>
                        <el-button type="text" size="small" v-if="scope.row.reportStatus == 0 || scope.row.reportStatus == 3" @click="deleteThisReport(scope.row)">删除</el-button>
                        <!-- <el-button type="text" size="small" @click="">预览</el-button> -->
                        <el-button type="text" v-if="scope.row.reportStatus == 3 || scope.row.reportStatus == 0" size="small" @click="onlineThisReport(scope.row)" v-if="scope.row.reportStatus == 0 || scope.row.reportStatus == 3">发布</el-button>
                        <el-button type="text" v-if="scope.row.reportStatus == 2" size="small" @click="offlineThisReport(scope.row)">下线</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <!--分页器-->
        <div class="cv_page_zone">
            <el-pagination
                @current-change="handleCurrentChange"
                :current-page="pagination1.currPage"
                :page-size="pagination1.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="pagination1.totalCount">
            </el-pagination>
        </div>
        
    </div>
</body>

<script type="text/javascript" src="${request.contextPath}/statics/js/element.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/content/report_list.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/clockToast.js"></script>
<style>
    .reportTitleStyle {
        color: #606266
    }
    .reportTitleStyle:hover {
        color: #175CE9;
        cursor: pointer;
        text-decoration: underline;
    }

</style>
</html>