<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/statics/css/icon.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/element.css">
<title>榜单机构列表</title>
</head>
<body>
    <#include "/header.html">
    <div class="cvpage_title_common">机构列表</div>
    <div id="rank_institution" class="cv_page_content">
        <!------------------列表开始------------------>
        <div v-show="!showChildPage">
            <!--列表搜索区-->
            <div class="cv_content_square">
                <el-form :model="searchForm" status-icon class="demo-ruleForm" label-width="20%" label-position="right" @submit.native.prevent>
                    <el-row class="el-row-h60">
                        <el-col :span="12">
                            <el-form-item label="机构名称" style="margin:0;">
                                <el-input
                                clearable
                                type="text"
                                v-model="searchForm.cooperationName"
                                auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="3" :offset="1" class="el-row-h40">
                            <el-button type="primary" icon="el-icon-search" style="width:100%" @click="startSearch(0)">搜索</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
            <!--功能按钮区-->
            <el-row class="el-row-h50">
                <el-col :span="3">
                    <el-button type="primary" plain icon="el-icon-plus" style="width:100%" @click="addOrEditCoper(0)">新增机构</el-button>
                </el-col>
            </el-row>
            <!--表格查询结果区-->
            <div class="cv_content_square">
                <el-table :data="tableData" style="width: 100%; margin:10px auto;" ref="multipleTable" stripe>
                    <el-table-column prop="cooperationName" label="机构名称" width=""></el-table-column>
                    <el-table-column prop="cooperationImg" label="机构Logo" width="170">
                        <template v-if="scope.row.cooperationImg" slot-scope="scope">
                            <img style="width:150px;height:45px;" :src="scope.row.cooperationImg">
                        </template>
                    </el-table-column>
                    <el-table-column prop="cooperationCrtUserName" label="创建人" width="90"></el-table-column>
                    <el-table-column prop="cooperationCrtTime" label="创建时间" width="160"></el-table-column>
                    <el-table-column prop="cooperationModUserName" label="更新人" width="90"></el-table-column>
                    <el-table-column prop="cooperationModTime" label="更新时间" width="160"></el-table-column>
                    <el-table-column label="操作" width="100" fixed="right">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" @click="addOrEditCoper(1,scope.row)">修改</el-button>
                            <el-button type="text" size="small" @click="deleteThisCoper(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <!--分页器-->
            <div class="cv_page_zone">
                <el-pagination
                    @current-change="handleCurrentChange"
                    :current-page="pagination1.currPage"
                    :page-size="pagination1.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="pagination1.totalCount">
                </el-pagination>
            </div>

        </div>
        <!------------------列表结束------------------>

        <!------------------新增修改开始------------------>
        <div v-show="showChildPage">
            <!--表单信息-->
            <div class="cv_content_square">
                <el-form :model="coperForm" :rules="coperFormRules"  ref="coperForm" status-icon class="demo-ruleForm" label-width="30%" label-position="right">
                    <el-row class="el-row-h70">
                        <el-col :span="12">
                            <el-form-item label="机构名称" prop="cooperationName" style="margin:0;">
                                <el-input
                                    maxlength="50"
                                    placeholder="限50字"
                                    type="text"
                                    v-model="coperForm.cooperationName"
                                    auto-complete="off">
                                </el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="机构顺序" prop="cooperationPriority" style="margin:0;">
                                <el-input
                                    clearable
                                    type="text"
                                    maxlength="50"
                                    placeholder="机构显示顺序，默认为-1"
                                    v-model="coperForm.cooperationPriority"
                                    auto-complete="off">
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="el-row-h70">
                        <el-col :span="24">
                            <el-form-item label="机构链接" label-width="15%" prop="cooperationUrl" style="margin:0;">
                                <el-input
                                    clearable
                                    type="text"
                                    maxlength="500"
                                    placeholder=""
                                    v-model="coperForm.cooperationUrl"
                                    auto-complete="off">
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="14">
                            <el-form-item label="机构Logo" prop="cooperationImg" label-width="26%" style="margin:0;">
                                <el-upload
                                    class="avatar-uploader"
                                    action="https://jsonplaceholder.typicode.com/posts/"
                                    :show-file-list="false"
                                    :auto-upload="false"
                                    :on-success="handleAvatarSuccess"
                                    :on-change="coperImgFileChange">
                                    <img v-if="coperForm.cooperationImg" :src="coperForm.cooperationImg" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </el-form-item>
                        </el-col>
                        <el-col :span="10">
                            <div style="line-height: 26px; font-size:12px; color:#666;">建议尺寸：290*80(像素，PX)<br>建议格式：JPG,JPEG,PNG<br>图片大小：不超过200KB</div>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
            <!--新建保存修改-->
            <el-row class="el-row-h60" style="margin-top:20px;">
                <el-col :span="3" :offset="8">
                    <el-button type="primary" style="width:100%" @click="submitCreatEdit('coperForm')">保存</el-button>
                </el-col>
                <el-col :span="3" :offset="2">
                    <el-button type="primary" style="width:100%" @click="closeEditCreatEdit('coperForm')">取消</el-button>
                </el-col>
            </el-row>
        </div>
        <!------------------新增修改结束------------------>


    </div>
</body>


<script type="text/javascript" src="${request.contextPath}/statics/js/element.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/rank/rank_institution.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/clockToast.js"></script>

<style>
.avatar-uploader .el-upload {
    width:290px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #175CE9;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 298px;
    height: 78px;
    line-height: 78px;
    text-align: center;
}
.avatar {
    width: 290px;
    height: 80px;
    display: block;
}
</style>
</html>