<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/statics/css/element.css">
<title>榜单列表</title>
</head>
<body>
    <#include "/header.html">
    <div class="cvpage_title_common">榜单列表</div>
    <div id="rank_list" class="cv_page_content">
        <!-------主页面---------->
        <div v-show="showChildPage == 0">
            <!--列表搜索区-->
            <div class="cv_content_square">
                <el-form :model="searchForm" status-icon class="demo-ruleForm" label-width="15%" label-position="right" @submit.native.prevent>
                    <el-row class="el-row-h60">
                        <el-col :span="17">
                            <el-form-item label="榜单名称" style="margin:0;">
                                <el-input
                                clearable
                                type="text"
                                v-model="searchForm.name"
                                auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="3" :offset="1" class="el-row-h40">
                            <el-button type="primary" style="width:100%" @click="startSearch(0)">搜索</el-button>
                        </el-col>
                    </el-row>    
                </el-form>
            </div>
            <!--功能按钮区-->
            <el-row class="el-row-h50">
                <el-col :span="4">
                    <el-button type="primary" plain style="width:100%" icon="el-icon-plus" @click="creatNewRank">新建总榜单</el-button>
                </el-col>
            </el-row>
            <!--表格查询结果区-->
            <div class="cv_content_square">
                <el-table :data="tableData" style="width: 100%; margin:10px auto;" stripe>
                    <el-table-column prop="name" label="榜单名称">
                        <template v-if="scope.row.name" slot-scope="scope">
                            <div v-text="scope.row.name" @click="openUrlRankPage(scope.row)" class="rankTitleStyle"></div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="publishStatus" label="发布状态" width="100">
                        <!--0未发布，1是待发布，2是已发布 3是发布失败 4是待删除 5 删除-->
                        <template slot-scope="scope">
                            <el-tag v-if="scope.row.publishStatus == 0">未发布</el-tag>
                            <el-tag v-if="scope.row.publishStatus == 1" type="warning">待发布</el-tag>
                            <el-tag v-if="scope.row.publishStatus == 2" type="success">已发布</el-tag>
                            <el-tag v-if="scope.row.publishStatus == 3" type="danger">发布失败 </el-tag>
                            <el-tag v-if="scope.row.publishStatus == 4" type="warning">待删除</el-tag>
                            <el-tag v-if="scope.row.publishStatus == 5" type="danger">已删除</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column prop="userName" label="修改人" width="160"></el-table-column>
                    <el-table-column prop="updateAt" label="修改时间" width="160"></el-table-column>
                    <el-table-column label="操作" width="200" fixed="right">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" v-if="scope.row.publishStatus == 0 || scope.row.publishStatus == 3" @click="onlineThisRank(scope.row)">发布</el-button>
                            <el-button type="text" size="small" v-if="scope.row.publishStatus == 2" @click="offlineThisRank(scope.row)">下线</el-button>
                            <el-button type="text" size="small" v-if="scope.row.publishStatus == 0 || scope.row.publishStatus == 2|| scope.row.publishStatus == 3 || scope.row.publishStatus == 5" @click="editThisRank(scope.row)">编辑</el-button>
                            <el-button type="text" size="small" v-if="scope.row.publishStatus == 0 || scope.row.publishStatus == 2|| scope.row.publishStatus == 3 || scope.row.publishStatus == 5" @click="linkToEditPage(scope.row)">榜单管理</el-button>
                            <el-button type="text" size="small" v-if="scope.row.publishStatus == 0 ||scope.row.publishStatus == 3" @click="deleteThisRank(scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <!--分页器-->
            <div class="cv_page_zone">
                <el-pagination
                    @current-change="handleCurrentChange"
                    :current-page="pagination1.currentPage"
                    :page-size="pagination1.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="pagination1.totalCount">
                </el-pagination>
            </div>
        </div>
        <!-------主页面---------->

        <!-------子页面----新建修改模板开始基本信息------>
        <div v-show="showChildPage == 1">
            <div class="cv_content_square">
                <el-form :model="rankForm" :rules="rankFormRules"  ref="rankForm" status-icon class="demo-ruleForm" label-width="15%" label-position="right" >
                    <el-row class="el-row-h70">
                        <el-col :span="24">
                            <el-form-item label="榜单名称" prop="name" style="margin:0;">
                                <el-input
                                clearable
                                type="text"
                                v-model="rankForm.name"
                                maxlength="36"
                                auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="el-row-h110">
                        <el-col :span="24">
                            <el-form-item label="榜单描述" prop="description" style="margin:0;">
                                <el-input
                                type="textarea"
                                :autosize="{ minRows: 3}"
                                maxlength="200"
                                v-model="rankForm.description"
                                auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="el-row-h70">
                        <el-col :span="24">
                            <el-form-item label="相关会议链接" prop="meetUrl" style="margin:0;">
                                <el-input
                                clearable
                                type="text"
                                maxlength="300"
                                v-model="rankForm.meetUrl"
                                auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="el-row-h70">
                        <el-col :span="12">
                            <el-form-item label-width="30%" label="发布时间" prop="publishAt" style="margin:0;">
                                <el-date-picker
                                    style="width: 100%;"
                                    v-model="rankForm.publishAt"
                                    value-format="timestamp"
                                    type="datetime"
                                    placeholder="请选择发布时间">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row class="el-row-h220">
                        <el-col :span="12">
                            <el-form-item label="榜单封面" prop="coverImg" label-width="30%" style="margin:0;">
                                <div class="fengmian_show" @click="openAddCoverImg">
                                    <img v-if="rankForm.coverImg" :src="rankForm.coverImg" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </div>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" style="line-height: 30px;">请从封面图库选择<br>建议格式：Png JPG JPEG</el-col>
                    </el-row>
                    <el-row class="el-row-h60" style="margin-top:30px;">
                        <el-col :span="4" :offset="7">
                            <el-button type="primary" style="width:100%" @click="creatOrEditSave('rankForm')">保存</el-button>
                        </el-col>
                        <el-col :span="4" :offset="2">
                            <el-button type="primary" style="width:100%" @click="closeToMainpage('rankForm')">取消</el-button>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
            
            <!--封面图库弹出层开始-->
            <el-dialog title="封面图库" :visible.sync="showCoverimgLib" width="100%" :fullscreen="true" :show-close="false" >
                <el-form :model="searchCoverimgForm" status-icon class="demo-ruleForm" label-width="20%" label-position="right" @submit.native.prevent>
                    <el-row class="el-row-h60">
                        <el-col :span="16">
                            <el-form-item label="图片名称" style="margin:0;">
                                <el-input
                                clearable
                                type="text"
                                v-model="searchCoverimgForm.picTitle"
                                auto-complete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="3" :offset="1" class="el-row-h40">
                            <el-button type="primary" icon="el-icon-search" style="width:100%" @click="searchCoverImg(0)">搜索</el-button>
                        </el-col>
                        <el-col :span="3" :offset="1" class="el-row-h40">
                            <el-button type="primary" style="width:100%" @click="backToEdit()">返回</el-button>
                        </el-col>
                    </el-row>
                </el-form>
                <el-table :data="coverimgTableData" max-height="450" style="width: 100%; margin:10px auto;" ref="coverimgTableData" stripe>
                    <el-table-column prop="picUrl" label="封面图预览" width="180">
                        <template v-if="scope.row.picUrl" slot-scope="scope">
                            <img style="width:80px;height:60px;" :src="scope.row.picUrl">
                        </template>
                    </el-table-column>
                    <el-table-column prop="picTitle" label="图片名称" width="250"></el-table-column>
                    <el-table-column prop="picEditorName" label="修改人" width="120"></el-table-column>
                    <el-table-column prop="picModTime" label="最后更新时间"></el-table-column>
                    <el-table-column label="操作" width="100" fixed="right">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" @click="addThisCoverImg(scope.row)">添加</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--分页器-->
                <div class="cv_page_zone">
                    <el-pagination
                        @current-change="handleCurrentChange2"
                        :current-page="pagination2.currPage"
                        :page-size="pagination2.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination2.totalCount">
                    </el-pagination>
                </div>
            </el-dialog>
            <!--封面图库弹出层结束-->


        </div>
        <!-------子页面----新建修改结束------>

        
    </div>
</body>
<style>
.fengmian_show{
    width: 240px;
    height: 180px;
    border-radius: 5px;
    border: 1px dashed #d9d9d9;
    text-align: center;
    cursor: pointer;
}
.avatar-uploader .el-upload {
    width:240px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #175CE9;
}
.avatar-uploader-icon {
    display: inline-block;
    font-size: 28px;
    color: #8c939d;
    width: 110px;
    height: 110px;
    line-height: 180px;
    text-align: center;
}
.fengmian_show:hover{
    border-color: #175CE9;
}
.fengmian_show:hover .avatar-uploader-icon{
    color: #175CE9;
}
.avatar {
    width: 240px;
    height: 180px;
    display: block;
}
</style>
<script type="text/javascript" src="${request.contextPath}/statics/js/element.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/rank/rank_list.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/clockToast.js"></script>
<style>
    .rankTitleStyle {
        color: #606266
    }
    .rankTitleStyle:hover {
        color: #175CE9;
        cursor: pointer;
        text-decoration: underline;
    }

</style>
</html>