<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="${request.contextPath}/statics/css/element.css">
<title>航线追踪</title>
</head>
<body>
    <#include "/header.html">
    <div class="cvpage_title_common">航线追踪</div>
    <div id="vtalk_list" class="cv_page_content">
        <!--列表搜索区-->
        <div class="cv_content_square">
            <el-form :model="searchForm" status-icon class="demo-ruleForm" label-width="25%" label-position="right">
                <el-row class="el-row-h60">
                    <el-col :span="9">
                        <el-form-item label="标题" style="margin:0;">
                            <el-input
                            clearable
                            type="text"
                            v-model="searchForm.name"
                            auto-complete="off"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="创建时间" style="margin:0;"  label-width="20%">
                            <el-date-picker
                                clearable
                                style="width:100%;"
                                v-model="timeRange"
                                type="datetimerange"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                value-format="yyyy-MM-dd HH:mm:ss"
                                :default-time="['00:00:00', '00:00:00']">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="2" :offset="1" class="el-row-h40">
                        <el-button type="primary" style="width:100%" @click="startSearch(0)">搜索</el-button>
                    </el-col>
                </el-row>
            </el-form>
        </div>

        <!--功能按钮区-->
        <el-row class="el-row-h50">
            <el-col :span="3">
                <el-button type="primary" plain style="width:100%" icon="el-icon-plus" @click="creatOrEdit('creat')">新建内容</el-button>
            </el-col>
        </el-row>

        <!--表格查询结果区-->
        <div class="cv_content_square">
            <el-table :data="tableData" style="width: 100%; margin:10px auto;" stripe>
                <el-table-column prop="name" label="标题" width="">
                    <template v-if="scope.row.name" slot-scope="scope">
                        <div v-text="scope.row.name" @click="openUrlvTalkPage(scope.row)" class="vtalkTitleStyle"></div>
                    </template>
                </el-table-column>
                <el-table-column prop="img" label="封面图"  width="180">
                    <template v-if="scope.row.img !== ''" slot-scope="scope">
                        <img style="width:160px;height:100px;" :src="scope.row.img">
                    </template>
                </el-table-column>
                <el-table-column prop="weight" label="权重" width="90"></el-table-column>
                <el-table-column prop="status" label="状态"  width="110">
                    <!--0 上线 1下线 2删除-->
                    <template slot-scope="scope" v-if="scope.row.status !== ''">
                        <el-tag v-if="scope.row.status == 0" type="success">上线</el-tag>
                        <el-tag v-if="scope.row.status == 1" >下线</el-tag>
                        <el-tag v-if="scope.row.status == 2" type="danger">已删除</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="crtTime" label="创建时间" width="100"></el-table-column>
                <el-table-column label="操作" width="200" fixed="right">
                    <template slot-scope="scope">
                        <el-button type="text" size="small" @click="creatOrEdit('edit',scope.row)">编辑</el-button>
                        <el-button type="text" size="small" v-if="scope.row.status == 1" @click="deleteThisVtalk(scope.row)">删除</el-button>
                        <el-button type="text" size="small" v-if="scope.row.status == 1" @click="onlineThisVtalk(scope.row)">发布</el-button>
                        <el-button type="text" size="small" v-if="scope.row.status == 0" @click="offlineThisVtalk(scope.row)">下线</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <!--分页器-->
        <div class="cv_page_zone">
            <el-pagination
                @current-change="handleCurrentChange"
                :current-page="pagination1.currPage"
                :page-size="10"
                layout="total, prev, pager, next, jumper"
                :total="pagination1.totalCount">
            </el-pagination>
        </div>


        <!--新建或修改内容弹出层开始-->
        <el-dialog :title="showCreatEditDialogTitle" :visible.sync="showCreatEditDialog" width="80%" :fullscreen="true" @closed="closeVtalkForm('creatEditForm')">
            <el-form :model="creatEditForm" :rules="creatEditFormRules" ref="creatEditForm" status-icon class="demo-ruleForm" label-width="15%" label-position="right">
                <el-row class="el-row-h70">
                    <el-col :span="24">
                        <el-form-item label="标题" prop="name" style="margin:0;">
                            <el-input
                            clearable
                            maxlength="100"
                            placeholder="限100字"
                            type="text"
                            v-model="creatEditForm.name"
                            auto-complete="off"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row-h70">
                    <el-col :span="24">
                        <el-form-item label="PC端链接" prop="link" style="margin:0;">
                            <el-input
                            clearable
                            maxlength="500"
                            placeholder="请填写标准网页链接"
                            type="text"
                            v-model="creatEditForm.link"
                            auto-complete="off"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row-h70">
                    <el-col :span="24">
                        <el-form-item label="移动端链接" prop="mLink" style="margin:0;">
                            <el-input
                            clearable
                            maxlength="500"
                            placeholder="请填写标准网页链接"
                            type="text"
                            v-model="creatEditForm.mLink"
                            auto-complete="off"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row-h70">
                    <el-col :span="24">
                        <el-form-item label="发布时间" prop="date" style="margin:0;">
                            <el-date-picker
                                style="width:100%;"
                                v-model="creatEditForm.date"
                                type="datetime"
                                :picker-options="pickerOptions"
                                value-format="timestamp"
                                placeholder="请填写发布时间">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row-h80">
                    <el-col :span="24">
                        <el-form-item label="权重" prop="weight" style="margin:0;">
                            <el-input
                                clearable
                                maxlength="3"
                                type="text"
                                v-model="creatEditForm.weight"
                                auto-complete="off"></el-input>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row-h180">
                    <el-col :span="12">
                        <el-form-item label="封面图片" prop="img" label-width="30%" style="margin:0;">
                            <div class="fengmian_show" @click="openAddCoverImg">
                                <img v-if="creatEditForm.img" :src="creatEditForm.img" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row-h60">
                    <el-col :span="4" :offset="5">
                        <el-button type="primary" style="width:100%" @click="saveVtalkForm('creatEditForm',0)">保存</el-button>
                    </el-col>
                    <el-col :span="4" :offset="1">
                        <el-button type="primary" style="width:100%" @click="saveVtalkForm('creatEditForm',1)">保存并发布</el-button>
                    </el-col>
                    <el-col :span="4" :offset="1">
                        <el-button type="primary" style="width:100%" @click="closeVtalkForm('creatEditForm')">取消</el-button>
                    </el-col>
                </el-row>
            </el-form>
        </el-dialog>
        <!--新建或修改内容弹出层结束-->

        <!--封面图库弹出层开始-->
        <el-dialog title="封面图库" :visible.sync="showCoverimgLib" width="100%" :fullscreen="true" :show-close="false" >
            <el-form :model="searchCoverimgForm" status-icon class="demo-ruleForm" label-width="20%" label-position="right" @submit.native.prevent>
                <el-row class="el-row-h60">
                    <el-col :span="16">
                        <el-form-item label="图片名称" style="margin:0;">
                            <el-input
                            clearable
                            type="text"
                            v-model="searchCoverimgForm.picTitle"
                            auto-complete="off"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3" :offset="1" class="el-row-h40">
                        <el-button type="primary" icon="el-icon-search" style="width:100%" @click="searchCoverImg(0)">搜索</el-button>
                    </el-col>
                    <el-col :span="3" :offset="1" class="el-row-h40">
                        <el-button type="primary" style="width:100%" @click="backToEdit()">返回</el-button>
                    </el-col>
                </el-row>
            </el-form>
            <el-table :data="coverimgTableData" max-height="450" style="width: 100%; margin:10px auto;" ref="coverimgTableData" stripe>
                <el-table-column prop="picUrl" label="封面图预览" width="180">
                    <template v-if="scope.row.picUrl" slot-scope="scope">
                        <img style="width:80px;height:60px;" :src="scope.row.picUrl">
                    </template>
                </el-table-column>
                <el-table-column prop="picTitle" label="图片名称" width="250"></el-table-column>
                <el-table-column prop="picEditorName" label="修改人" width="120"></el-table-column>
                <el-table-column prop="picModTime" label="最后更新时间"></el-table-column>
                <el-table-column label="操作" width="100" fixed="right">
                    <template slot-scope="scope">
                        <el-button type="text" size="small" @click="addThisCoverImg(scope.row)">添加</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--分页器-->
            <div class="cv_page_zone">
                <el-pagination
                    @current-change="handleCurrentChange2"
                    :current-page="pagination2.currPage"
                    :page-size="pagination2.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="pagination2.totalCount">
                </el-pagination>
            </div>
        </el-dialog>
        <!--封面图库弹出层结束-->




        
    </div>
</body>

<script type="text/javascript" src="${request.contextPath}/statics/js/element.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/community/route_tracking.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/clockToast.js"></script>

<style>
.fengmian_show{
    width: 240px;
    height: 150px;
    border-radius: 5px;
    border: 1px dashed #d9d9d9;
    text-align: center;
    cursor: pointer;
}
.avatar-uploader .el-upload {
    width:240px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #175CE9;
}
.avatar-uploader-icon {
    display: inline-block;
    font-size: 28px;
    color: #8c939d;
    width: 110px;
    height: 110px;
    line-height: 150px;
    text-align: center;
}
.fengmian_show:hover{
    border-color: #175CE9;
}
.fengmian_show:hover .avatar-uploader-icon{
    color: #175CE9;
}
.avatar {
    width: 240px;
    height: 150px;
    display: block;
}

.vtalkTitleStyle {
    color: #606266
}
.vtalkTitleStyle:hover {
    color: #175CE9;
    cursor: pointer;
    text-decoration: underline;
}

</style>
</html>